fieldset.date {
  margin: 0;
  padding: 0;
  padding-left: 20px;
  padding-bottom: 0.5em;
  display: block;
  border: none;
}

fieldset.date legend {
  margin: 0;
  padding: 0;
  margin-top: 0.25em;
  font-size: 100%;
}

fieldset.date label {
  position: absolute;
  top: -20em;
  left: -200em;
}

fieldset.date select {
  margin: 0;
  padding: 0;
  font-size: 100%;
  display: inline;
}

fieldset.date select:active,
fieldset.date select:focus,
fieldset.date select:hover {
  color: white;
  border-color: white;
  background-color: #1c284f;
}

#month {
  width: 5%;
  height: 30px;
}

#day {
  width: 5%;
  height: 30px;
}

#year {
  width: 5%;
  height: 30px;
}

#submit {
  margin-left: 10px;
}
