body {
  color: white;
}

h2 {
  font-family: "Lato", sans-serif;
  font-weight: 900;
}

header {
  color: white;
  font-size: 50px;
  padding-bottom: 5%;
  padding-top: 1%;
}

img {
  height: 30%;
  width: 30%;
}

.bg {
  background-image: url(../images/background.png);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.section {
  background-color: rgba(19, 22, 30, 0.7);
}

.parallax-container {
  width: 800px;
  margin: auto;
}
