body, html {    
    height: 100%;   }      

body {    
    color: white;   }       

.bg {    
    background-image: url(../images/background.png);   
     background-attachment: fixed;   
     background-position: center;   
     background-repeat: no-repeat;    
     background-size: cover;       
 }      

#header {   
     font-family: 'Lato', sans-serif;    
     font-size: 7rem;    
     padding-top: 5rem;    
     margin: 0;   
}      

#modal {    
    height: 45vh;    
    width: 45vh;   
    margin: auto;   
}       

footer {    
    position: absolute;    
    bottom: 0;    
    width: 100%;   
    justify-content: center;  
}       



#searchBar {    
    position: absolute;   
    bottom: 0;    
    width: 100%;    
    justify-content: center;   
}       
h5 {    
    font-family: 'Lato', sans-serif;    
}

#input-location {
    color: white;
}